In [2]:
cars=['audi','benz','bmw','kia','maruthi','hyundai']
print(cars)

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'hyundai']

In [3]:
#req: I want to get the output in the aplhabetical order -----> A-Z

In [6]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'hyundai', 'kia', 'maruthi']

In [7]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'hyundai']

In [9]:
cars.sort()
print(cars)

['audi', 'benz', 'bmw', 'hyundai', 'kia', 'maruthi']

In [10]:
print(cars)

['audi', 'benz', 'bmw', 'hyundai', 'kia', 'maruthi']

In [11]:
#req: I wnat to print entire list in the reverse order..?

In [12]:
cars.reverse()
print(cars)

['maruthi', 'kia', 'hyundai', 'bmw', 'benz', 'audi']

In [13]:
# req i want to know the count of no of elements in a list?

In [14]:
len(cars)

6

In [15]:
students=['ravi','abdul','naveen','kumar','ruksana','simran','keerthi','kalpana']

In [16]:
#req: I want to ravi and abdul below list output?

In [17]:
print(students[0:1])

['ravi']

In [18]:
print(students[0:2])

['ravi', 'abdul']

In [19]:
# req: I want to naveen and kumar in the below list output?

In [20]:
print(students[2:4])

['naveen', 'kumar']

In [21]:
print(students[0:8:2])

['ravi', 'naveen', 'ruksana', 'keerthi']